@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Text:ital@0;1&display=swap');

/* REGLAS BASE (GENERAL / DESKTOP) */

/* generales */
html {
    background-image: url("../../public/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "poppins" system-ui, sans-serif;
    scroll-behavior: smooth;
}

/* header */
.menu-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1000;
    width: 100%;
    justify-content: space-around;
    color: aliceblue;
    background-color: #16403D;
}

.site-title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    line-height: 1.1;
    text-decoration: none;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    letter-spacing: 2px;
}

.menu-item {
    display: flex;
    gap: 3rem;
    align-items: center;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: oblique;
    padding: 1.5rem;
}

/* bienvenida */
.fondo-comun {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
}

.contenedorImg {
    max-width: 40vw;
    max-height: 100vh;
}

.profilePhoto {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.flex-item {
    flex: 1;
    padding: 5vh;
}

.saludo {
    padding-top: 25vh;
    color: aliceblue;
    font-size: xx-large;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.contenedor-centrado {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo {
    letter-spacing: 6px;
    color: #D8C7A2;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 9vh;
    animation: aparecer 3.5s forwards;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.encabezado {
    letter-spacing: 2px;
    font-size: large;
}

.badge-1 {
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #D8C7A2;
}

/* perfil */
.fondo-perfil {
    background-color: #16403D;
    min-height: 100vh;
}

.waviy {
    position: relative;
    font-size: 15vh;
    margin-top: 5vh;
    letter-spacing: 2px;
}

.waviy span {
    font-family: "Bebas Neue", sans-serif;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 2s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

.about {
    letter-spacing: 2px;
    color: cornsilk;
    text-align: center;
    padding: 5vh;
    font-size: xx-large;
}

/* estudios */
.fondo-estudios {
    background-color: #B88364;
    min-height: 100vh;
    padding-bottom: 5vh;
}

.subTitulo {
    font-size: 14vh;
    font-family: "Bebas Neue", sans-serif;
    color: #f8f7f7;
    letter-spacing: 2px;
    text-align: right;
    padding-right: 10vh;
}

.hover1 :hover {
    background-color: #D8C7A2;
}

/* proyectos */
.fondo-proyectos {
    background-color: #ffffff;
    min-height: fit-content;
    padding-bottom: 5rem;
}

.verde-general {
    color: #16403D;
    transform: translateX(-100%);
    animation: proyec 3.5s forwards;
}

@keyframes proyec {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Estilos de layout de Proyectos */
.proyectos-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    max-width: 1400px;
    margin: 0 auto;
    align-items: start;
}

.container-titulo-proyecto {
    position: sticky;
    top: 10rem;
    padding: 2rem;
}

.contenedor-proyectos {
    width: 100%;
}

.proyectos-grid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.image-container {
    position: relative;
    width: 100%;
}

.image-container figure {
    position: relative;
}

.image-container img {
    transition: opacity 0.3s ease;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.image-container .hover-text,
.image-container .hover-text2 {
    transition: opacity 0.3s ease;
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

/* El resto sigue igual */
.image-container .hover-text {
    opacity: 0;
}

.image-container:hover .hover-text2 {
    opacity: 0;
}

.image-container:hover .hover-text {
    opacity: 1;
}

/* experiencia */
.experience {
    padding: 2rem;
}

/* contacto */
.fondo-contacto {
    background-color: #16403D;
    min-height: 80vh;
}

.subTituloC {
    font-size: 14vh;
    font-family: "Bebas Neue", sans-serif;
    color: #f8f7f7;
    letter-spacing: 2px;
    text-align: center;
    padding-right: 10vh;
}

.CardConta {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

/* footer */
.pie {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #16403D;
    color: white;
    height: 2em;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    letter-spacing: 2px;
    text-align: center;
    line-height: 2em;
    display: block;
}

.desa {
    letter-spacing: 2px;
    font-size: small
}

.columna {
    flex: 1;
    min-width: 200px;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.max-w-custom {
    max-width: 600px;
}

/* MEDIA DE TABLET (765px - 1025px) */
@media only screen and (min-width: 765px) and (max-width: 1025px) {

    /* generales */
    html {
        background-image: url("../../public/fondo.png");
        background-size: cover;
        background-repeat: no-repeat;
        font-family: "poppins" system-ui, sans-serif;
        scroll-behavior: smooth;
    }

    /* header */
    .menu-header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        z-index: 1000;
        width: 100%;
        justify-content: space-around;
        color: aliceblue;
        background-color: #16403D;
    }

    .site-title {
        gap: 0.1rem;
        font-size: x-small;
    }

    .menu-item {
        gap: 1rem;
        font-size: xx-small;
        padding: 1rem;
    }

    /* bienvenida */
    .fondo-comun {
        min-height: 100vh;
    }

    .wrapper {
        gap: 0.5vh;
    }

    .contenedorImg {
        max-width: 100%;
        max-height: 50%;
    }

    .profilePhoto {
        object-fit: contain
    }

    .flex-item {
        padding: 1vh;
    }

    .saludo {
        text-align: center;
        padding-top: 9vh;
        font-size: medium;
    }

    .titulo {
        font-size: 4vh;
    }

    .encabezado {
        letter-spacing: 1px;
        font-size: smaller;
    }

    /* perfil */
    .fondo-perfil {
        min-height: fit-content;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .waviy {
        font-size: 5vh;
    }

    .waviy span {
        animation: waviy 3s infinite;
    }

    .about {
        letter-spacing: 3px;
        font-size: medium;
        padding: 3vh 5vh;
    }

    /* estudios */
    .fondo-estudios {
        min-height: 100vh;
        padding-bottom: 5vh;
    }

    .subTitulo {
        font-size: 5vh;
        letter-spacing: 4px;
    }

    /* proyectos */
    .fondo-proyectos {
        min-height: fit-content;
        padding-bottom: 5rem;
    }

    .proyectos-layout {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .container-titulo-proyecto {
        position: relative;
        top: auto;
        text-align: center;
        padding: 2rem;
    }

    .verde-general {
        animation: proyec 5.5s infinite forwards;
    }

    .image-container img {
        width: 100%;
        height: 40vh;
    }

    /* contacto */
    .fondo-contacto {
        min-height: 80vh;
    }

    .subTituloC {
        font-size: 7vh;
        letter-spacing: 4px;
    }

    /* footer */
    .pie {
        font-size: medium;
    }
}

/* MEDIA DE CELULAR (0px - 767px) */
@media only screen and (min-width: 0px) and (max-width: 767px) {

    /* generales */
    html {
        background-image: url("../../public/fondo.png");
        background-size: cover;
        background-repeat: no-repeat;
        font-family: "poppins" system-ui, sans-serif;
        scroll-behavior: smooth;
    }

    /* header */
    .menu-header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        z-index: 1000;
        width: 100%;
        justify-content: space-around;
        color: aliceblue;
        background-color: #16403D;
    }

    .site-title {
        gap: 0.1rem;
        font-size: x-small;
    }

    .menu-item {
        gap: 1rem;
        font-size: xx-small;
        padding: 1.5rem;
    }

    /* bienvenida */
    .fondo-comun {
        min-height: 100vh;
    }

    .wrapper {
        gap: 0.5vh;
    }

    .contenedorImg {
        max-width: 100%;
        max-height: 50%;
    }

    .profilePhoto {
        object-fit: cover;
    }

    .flex-item {
        padding: 1vh;
    }

    .saludo {
        text-align: center;
        padding-top: 5vh;
        font-size: medium;
    }

    .titulo {
        font-size: 4vh;
    }

    .encabezado {
        letter-spacing: 1px;
        font-size: smaller;
    }

    /* perfil */
    .fondo-perfil {
        min-height: fit-content;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .waviy {
        font-size: 5vh;
    }

    .waviy span {
        animation: waviy 3s infinite;
    }

    .about {
        letter-spacing: 3px;
        font-size: medium;
        padding: 3vh 3vh;
    }

    /* estudios */
    .fondo-estudios {
        min-height: 100vh;
        padding-bottom: 5vh;
    }

    .subTitulo {
        font-size: 5vh;
        letter-spacing: 4px;
        padding-right: 5vh;
    }

    /* proyectos */
    .fondo-proyectos {
        min-height: fit-content;
        padding-bottom: 5rem;
        padding: 3rem 1rem;
    }

    .proyectos-layout {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .container-titulo-proyecto {
        position: relative;
        top: auto;
        text-align: center;
        padding: 1rem;
    }

    .verde-general {
        animation: proyec 5.5s infinite forwards;
    }

    .image-container img {
        width: 100%;
        height: 30vh;
    }

    /* contacto */
    .fondo-contacto {
        min-height: 80vh;
    }

    .subTituloC {
        font-size: 7vh;
        letter-spacing: 4px;
    }

    /* footer */
    .pie {
        font-size: small;
    }
}