---
import content from "../data/content.json";
---

<div class="fondo-contacto">
    <h2 class="subTituloC">{content.title_contacto}</h2>

    <div class="flex flex-wrap justify-center gap-36">
        <div class="max-w-60 imgContacto">
            <div
                class="flex flex-col items-center pb-5 bg-white rounded-t-full"
            >
                <a href="https://github.com/jul1alcaraz">
                    <img class="CardConta" src="../../public/git.png" />
                </a>
                <h5 class="mb-1 text-xl font-medium text-gray-900">GitHub</h5>
                <span class="text-sm text-gray-500">/jul1alcaraz</span>
            </div>
        </div>

        <div class="max-w-60 imgContacto">
            <div
                class="flex flex-col items-center pb-5 bg-white rounded-t-full"
            >
                <a href="https://www.linkedin.com/in/jul1alcaraz/">
                    <img class="CardConta" src="../../public/In.png" />
                </a>
                <h5 class="mb-1 text-xl font-medium text-gray-900">LinkedIn</h5>
                <span class="text-sm text-gray-500">/jul1alcaraz</span>
            </div>
        </div>

        <div class="max-w-60 imgContacto">
            <div
                class="flex flex-col items-center pb-5 bg-white rounded-t-full"
            >
                <a href="mailto:Lic.alcarazaballay2022@gmail.com">
                    <img class="CardConta" src="../../public/gmail.png" />
                </a>
                <h5 class="mb-1 text-xl font-medium text-gray-900">Gmail</h5>
                <span class="text-sm text-gray-500"
                    >lic.alcarazaballay2022@gmail.com</span
                >
            </div>
        </div>
    </div>
</div>
