---
import content from "../data/content.json";
---

<footer class="pie">
    <div>
        <div>
            <span>
                {content.footer}
            </span>
        </div>
    </div>
</footer>
