<nav class="menu-header">

        <a href="/" class="site-title">
            <img
                class="rounded-full w-12 h-12"
                src="/flower_icon_134982.ico"
                alt="Julieta Alcaraz foto"
                style="filter: brightness(0) invert(1)"
            />Julieta Alcaraz
        </a>

        <nav class="menu-item">
            <a href="/#Perfil"> Sobre mi</a>
            <a href="/#Estudios"> Estudios </a>
            <a href="/#Proyectos"> Proyectos </a>
            <a href="/#Experiencia">Experiencia</a>
            <a href="/#Contacto"> Contacto</a>
        </nav>

</nav>
