---
import content from "../data/content.json";
---

<div class="fondo-perfil">
<div class="columna flex flex-col">
   
    <body>
        <div class="waviy pl-11">
          <span style="--i:1">¿</span>
          <span style="--i:2">Q</span>
          <span style="--i:3">U</span>
          <span style="--i:4">I</span>
          <span style="--i:5">É</span>
          <span style="--i:6">N</span>
          <span style="--i:7"> </span>
          <span style="--i:8">S</span>
          <span style="--i:9">O</span>
          <span style="--i:10">Y</span>
          <span style="--i:10">?</span>
         </div>

         <h2 class="about">
            
            {content.bio}
            </h2>
       </body>

</div>

</div>
