<div class="fondo-proyectos">
  <div class="proyectos-layout">
    
    <div class="container-titulo-proyecto">
      <h1 class="waviy verde-general text-4xl font-bold sm:text-6xl">
        MIS <br />
        PROYECTOS
      </h1>
    </div>

    <div class="contenedor-proyectos">
      <div class="proyectos-grid">
        
        <div class="image-container">
          <figure class="grayscale hover:grayscale-0">
            <a href="https://gestor-escuela-front.vercel.app/">
              <img
                src="/material.png"
                alt="Gestor Escolar"
                class="h-full w-full object-center duration-300 cursor-pointer filter grayscale hover:grayscale-0"
              />
            </a>
            <figcaption class="encabezado absolute px-4 text-lg text-black top-6">
              <p class="hover-text2">Página web de gestión de alumnos y materias.</p>
              <p class="hover-text">
                Desarrollado con MONGO + EXPRESS + REACT + NODE.JS
              </p>
            </figcaption>
          </figure>
        </div>

        <div class="image-container">
          <figure class="grayscale hover:grayscale-0">
            <a href="https://puma-store-ten.vercel.app/">
              <img
                src="/logo-puma.jpg"
                alt="Puma Oulet"
                class="h-full w-full object-center duration-300 cursor-pointer filter grayscale hover:grayscale-0"
              />
            </a>
            <figcaption class="encabezado absolute px-4 text-lg text-white bottom-6 right-6">
              <p class="hover-text2">Diseño Web Ecommerce.</p>
              <p class="hover-text">
                Desarrollado con React + NodeJS + MongoDB + Material
              </p>
            </figcaption>
          </figure>
        </div>

        <div class="image-container">
          <figure class="grayscale hover:grayscale-0">
            <a href="https://harmed-roars.000webhostapp.com/index.php">
              <img
                src="/ra.logo.png"
                alt="Rescate Animal"
                class="h-full w-full object-center duration-300 cursor-pointer filter grayscale hover:grayscale-0"
              />
            </a>
            <figcaption class="encabezado absolute px-4 text-lg text-black top-6">
              <p class="hover-text2">Página web de concientización animal.</p>
              <p class="hover-text">
                Desarrollado con HTML + CSS + JS + PHP + MySQL
              </p>
            </figcaption>
          </figure>
        </div>
        
      </div>
    </div>

  </div>
</div>